body {
  background-image: url('../../../Gallery/pics/img1012.png');
  background-size: cover;
}

.wallet-container {
  background: linear-gradient(rgba(0, 0, 0, 0.159), rgba(0, 0, 0, 0.6)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjOvSperRYjHH9-EHlKZJBfwvXy4rJpyerzHQsnp8DuuycYU5_);
  width: 320px;
  color: #ffffff;
  /* height: 600px; */
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px 20px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 4%;
}

.page-title {
  text-align: left;
}

.fa-user {
  float: right;
}

.fa-align-left {
  margin-right: 15px;
}

.amount-box img {
  width: 50px;
}

.amount {
  font-size: 35px;
}

.amount-box p {
  margin-top: 10px;
  margin-bottom: -10px;
}

.btn-group {
  margin: 20px 0;
}

.btn-group .btn {
  margin: 8px;
  border-radius: 20px !important;
  font-size: 18px;
}

.txn-history {
  text-align: left;
}

.txn-list {
  background-color: #000000aa;
  padding: 12px 10px;
  color: #777;
  border-radius: 4%;
  font-size: 14px;
  margin: 7px 0;
}

.debit-amount {
  color: red;
  float: right;
}

.credit-amount {
  color: green;
  float: right;
}

.footer-menu {
  margin: 20px 0px 5px;
  bottom: 0;
  border-top: 1px solid #ccc;
  padding: 10px 10px 0;
  width: 100%;
  /* position: fixed; */
  z-index: 100000000px;
}

.footer-menu p {
  font-size: 12px;
}
/* 
@media screen and (max-width: 800px) {
  .wallet-container {
    height: 115%;
    bottom: 20px;
    margin-top: 0px;
  }
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.container .item {
  /* border: solid; */
  width: 20%;
  cursor: pointer;
  text-align: center;
}
.container .item .fa {
  font-size: 25px;
}
.menu .container {
  flex-direction: column;
}
.menu .container .item {
  /* flex-direction: column; */
  display: flex;
  flex-grow: 20px;
  /* border: solid; */
  width: 100%;
  padding: 0;
  margin: 10px 0px;
}
.menu .container .item p {
  margin: 0px 0px;
  font-size: 16px;
}
.menu .container .item .fa {
  /* border: solid; */
  margin: 0;
  width: 40px;
}
.menu-footer {
  margin: 10px 20px;
}
.menu-footer a {
  /* margin: 10px 20px; */
  color: #ffffff8b;
  text-decoration: none;
}
.menu-footer a i {
  margin: 0px 5px;
  /* color: #fff; */
}

.questions {
  color: black;
  text-align: start;
  font-size: 12px;
}
.question-form {
  align-items: flex-start;
  text-align: start;
  width: 100%;
  flex-direction: column;
}
.question-form input[type='submit'] {
  margin-left: 75%;
  margin-top: 10px;
}
.question-form form span {
  width: 100%;
}
.payment-icons {
  /* border: solid; */
  text-align: center;
}
.payment-icons p {
  /* text-align: start; */
  border-bottom: solid;
  margin: 2px 20px;
}
.payment-icons .fa {
  margin: 2px 5px;
  font-size: 30px;
}
